<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>My Training Point</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/cssS9.css">
    <style>
      @font-face { font-family: JuneBug; src: url('../fonts/SVN-Gilroy Bold.otf') format('truetype'); } 
    </style>
    <style>
        #avatar:hover{
           content: url("../img/ic_image.jpg");
            z-index: 1000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Navbar top -->
        <a class="navbar-brand" href="/sinhvien">
            <p style="color:#fff; font-family: SVN-Gilroy; font-weight: bold; font-size: 19px"> <img src="../img/LOGO.png" height="40" width="40" style="margin-top: -11px; margin-right: 10px">MY TRAINING POINT</p>
        </a>
        <!-- Diem -->
        <form class="navbar-form navbar-left" method="GET" role="search" >
            <div class="form-group">
                <p class="point"> <img src="../img/ic_medal.png" height="30" width="30" ><%=diem%></p>
            </div>
            <!-- Search -->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm tên hoạt động" id="nv_search" style="font-size: 15px" >
            </div>
        </form>
        <!-- Menu dropdowm -->
        <div class="nav navbar-nav navbar-right">
            <div class="btn-group show-on-hover">
                <div data-toggle="dropdown" style="margin-right: 10px">
                    <img src="../img/ic_setting.png" height="25" width="25" style="margin-top:12px; margin-right: 5px">
                    <span class="caret" style="color: #fff"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="profile" href="profile">Profile</a></li>
                    <li><a id="help"href="help">Help</a></li>
                    <li><a id="doimatkhau"href="doimatkhau">Đổi mật khẩu</a></li>
                    <li class="divider"></li>
                    <li><a id="dangxuat"href="/logout">Đăng xuất <img src="../img/ic_logout.png" height="15" style="opacity: 50"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 navbar_left">
            <!-- Thông tin sinh viên -->
            <a href='profile' style=" text-decoration: none;">
            <div class="info">
                <img id="avatar" src="../img/2_avatar.png" class="img-responsive center-block" alt="Avatar" width="85px">
                <p class="name"> <%= datasv[0].Ten %> </p>
                <p class="mssv"> <%= datasv[0].MSSV %> </p>
            </div>
            </a>
            <br>
            <!-- Menu chức năng -->
            <div class="left-navigation" style="background-color: #fff" >
                <ul class="nav" id="nv_content" style="height: 375px">
                    <li><a id="hoatdong" href="hoatdong"><img src="../img/ic_hoatdong.png" height="28" style="margin-right: 14px; margin-left: 50px">HOẠT ĐỘNG</a></li>
                    <li><a id="thamgia" href="thamgia"><img src="../img/ic_thamgia.png" height="28" style="margin-right: 14px; margin-left: 50px">THAM GIA</a> </li>
                    <li><a id="goiy" href="goiy"><img src="../img/ic_goiy.png" height="28" style="margin-right: 16px; margin-left: 48px">GỢI Ý</a></li>
                    <li><a id="lotrinh" href="lotrinh"><img src="../img/ic_lotrinh.png" height="28" style="margin-right: 17px; margin-left: 47px">LỘ TRÌNH</a></li>
                    <li><a id="lienhe" href="lienhe"><img src="../img/ic_lienhe.png" height="28" style="margin-right: 17px; margin-left: 47px">LIÊN HỆ</a></li>
                </ul>
            </div>
        </div>
        <!-- Thông tin Profile -->
        <div class="col-md-9 content" style="margin-left: 36px" >
            <!-- Thông tin cơ bản -->
            <article class="module">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 250px; height: 30px; font-size: 20px; text-align: center">THÔNG TIN CƠ BẢN</p>
                </div>
                <div class="info2">
                    <div class="col-md-6">
                        <p id="hoten"><img src="../img/users.png" height="28" data-toggle="tooltip" title="Họ tên" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].Ten %></p>
                        <p id="mssv"><img src="../img/mssv.png" height="28" data-toggle="tooltip" title="MSSV" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].MSSV %></p>
                        <p id="cmnd"><img src="../img/cmnd.png" height="28" data-toggle="tooltip" title="CMND" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].CMND %></p>
                        <p id="ngaysinh"><img src="../img/calendar.png" height="28" data-toggle="tooltip" title="Ngày sinh" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].NgaySinh.toLocaleDateString(); %></p>

                        <script>
                            $(document).ready(function(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    </div>

                    <div class="col-md-6">
                        <p id="khoa"><img src="../img/falcuty.png" height="28" data-toggle="tooltip" title="Khoa" style="margin-left: 80px; margin-right: 25px"><%= datathongtinchitiet[0].MaKhoa %></p>
                        <p id="lop"><img src="../img/class.png" height="28" data-toggle="tooltip" title="Lớp" style="margin-left: 80px; margin-right: 25px"><%= datathongtinchitiet[0].MaLop %></p>
                        <p id="gioitinh"><img src="../img/sex.png" height="28" data-toggle="tooltip" title="Giới tính" style="margin-left: 80px; margin-right: 25px">
                        <% if(datathongtinchitiet[0].GioiTinh[0] == 1) { %>
                            Nam
                        <% }else { %>
                            Nữ
                        <% } %>
                        </p>
                        <p id="noisinh"><img src="../img/house.png" height="28" data-toggle="tooltip" title="Nơi sinh" style="margin-left: 80px; margin-right: 25px"><%= datathongtinchitiet[0].NoiSinh %></p>

                        <script>
                            $(document).ready(function(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    </div>
                </div>
            </article>
            <!-- Thông tin liên lạc -->
            <article class="module1">
                <div class="panel-heading">
                    <p style="background-color:#454f5c; color: #ffffff; font-family: SVN-Gilroy; font-weight: bold; border-radius: 8.9px; width: 250px; height: 30px; font-size: 20px; text-align: center">THÔNG TIN LIÊN LẠC</p>
                </div>
                <div class="info2">
                   <p id="noio"><img src="../img/map.png" height="28" data-toggle="tooltip" title="Nơi ở" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].DiaChi %></p>
                    <p id="gmail"><img src="../img/email.png" height="28" data-toggle="tooltip" title="Gmail" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].Email %></p>
                    <p id="dt"><img src="../img/phone.png" height="28" data-toggle="tooltip" title="SĐT" style="margin-left: 120px; margin-right: 25px"><%= datathongtinchitiet[0].SDT %></p>

                    <script>
                        $(document).ready(function(){
                            $('[data-toggle="tooltip"]').tooltip();
                        });
                    </script>
                </div>
            </article>
        </div>

    </div>
</div>
<script src="../../PageManager/ChangePageManger.js"></script>
</body>
</html>