<!DOCTYPE html>
<html>
<head>
	<title>Sửa Đơn vị phụ trách</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-dvpt';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-dvpt/xoa-dvpt/<%= dvpt[0].MaHD %>"><button type="button" name="button">Xóa đơn vị phụ trách</button></a>
	<form action="/admin/danh-sach-dvpt/sua-dvpt/<%= dvpt[0].MaHD %>" method="post">
		<label for="MaHD">Tên hoạt động: </label>
		<select name="MaHD">
			<% for (var i = 0; i < dshd.length; i++) { %>
        <% if(dvpt[0].MaHD == dshd[i].MaHD) {%>
          <option selected value="<%= dshd[i].MaHD %>"><%= dshd[i].Ten %></option>
        <% }else{%>
          <option value="<%= dshd[i].MaHD %>"><%= dshd[i].Ten %></option>
        <%}%>
			<% } %>
		</select><br>
		<input type="text" value="<%= dvpt[0].Cap %>"name="Cap" placeholder="Cấp quản lý"><br>
		<input type="text" value="<%= dvpt[0].Ten %>" name="Ten" placeholder="Tên hoạt động"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
